* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(158, 158, 158);
}

.col-5,
.col-8 {
    background-color: #28a745;
}

.navbar-brand img {
    width: 50px;
}

.navbar-brand h1 {
    display: inline-block;
}

.badge {
    margin-left: 5px;
}

.nav-link {
    color: white !important;
}

.media {
    margin-bottom: 15px;
    width: 300px;
}

.media img {
    width: 64px;
    height: auto;
}

.tool-info {
    text-transform: none;
}

.tool-checkout {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid black;
    border-radius: 50px;
    height: 280px;
}

.tool-checkout h5 {
    margin-top: 15px;
    margin-bottom: 10px;
}

/* .tool-scroll {
    position: absolute;
    overflow-y: scroll;
} */

.search-bar,
.tool-inventory {
    border: 2px solid black;
    border-radius: 50px;
    height: 100px;
}

.search-bar,
.tool-inventory {
    margin-bottom: 10px;
    padding: 0 !important;
}

.search-bar .row,
.tool-inventory .row {
    border-radius: 50px;
    margin: 0;
}

.bottom-menu {
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 50px 0 0 50px;
}

.search-bar .bottom-menu {
    background-image: url(./map.jpg);
}

.tool-inventory .bottom-menu {
    background-image: url(./set_of_tools.jpg);
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    line-height: 20px;
    background-color: #28a745;
}

.footer-copyright {
    color: white;
}