* {
    margin: 0;
    padding: 0;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: rgb(158, 158, 158);
    margin-bottom: 60px;
}

.col-5,
.col-8 {
    background-color: #28a745;
}

.navbar-brand img {
    width: 50px;
}

.navbar-brand h1 {
    display: inline-block;
}

.badge {
    margin-left: 5px;
}

.nav-link {
    color: white !important;
}

.media {
    margin-bottom: 15px;
    width: 300px;
}

.media img {
    width: 64px;
    height: auto;
}

.tool-info {
    text-transform: none;
}

.tool-checkout {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid black;
    border-radius: 50px;
    height: 280px;
}

.tool-checkout h4 {
    margin-bottom: 10px;
}

.tool-scroll {
    max-height: 200px;
    overflow-y: scroll;
}

.tool-scroll::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

.tool-scroll::-webkit-scrollbar-thumb {
    background-color: #000000;
}

.tool-scroll::-webkit-scrollbar-track {
    box-shadow: rgb(0, 0, 0);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

.search-bar,
.tool-inventory {
    border: 2px solid black;
    border-radius: 50px;
    height: 100px;
    margin-bottom: 10px;
    padding: 0 !important;
}

.search-bar .row,
.tool-inventory .row {
    border-radius: 50px;
    margin: 0;
}

.bottom-menu {
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 50px 0 0 50px;
}

.search-bar .bottom-menu {
    background-image: url(./map.jpg);
}

.tool-inventory .bottom-menu {
    background-image: url(./set_of_tools.jpg);
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 50px;
    background-color: #28a745;
}

.footer-copyright {
    color: white;
}